<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="no.hiof.fredrivo.budgetapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/wonder_save"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">

        <activity android:name=".InputActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ChartActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ProfilSettingsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".DetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Camera_activity"
            android:screenOrientation="portrait"/>
        <activity android:name=".overview"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".LoginActivity"
            android:label="@string/wonder_save"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NewCategoryActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ProfilActivity"
            android:screenOrientation="portrait"/>

        <receiver android:name=".classes.N_receiver">
            <intent-filter>
                <action android:name="android.media.action.DISPLAY_NOTIFICATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="no.hiof.fredrivo.budgetapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"
                tools:replace="android:resource" />
        </provider>

        <activity android:name=".CategoryDetailActivity" />
    </application>

</manifest>